html{
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}
body{
    background-color: bisque ;
}
/* center everything including image */
header{
    text-align: center;
    margin: auto;
    height:150px;
}

img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     border-radius: 10%;
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* styles for the hr's */
hr { 
    color: black;
margin: 10%;
}

.unecessary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*  All list styles */
ul{
    list-style: circle;
}

/* i want all h2's to be in the center */
h2{
    text-align: center;
  }
  
p{
line-height: 30px;
    font-size:17px;
}
footer ul{
    list-style: none;
display:flex;
justify-content: space-evenly;
width:70%;
padding-left: 100px;

}
/* style for all links */
a{
    text-decoration: none;
    color: black;

}
a:hover {
    text-decoration: underline;
    color: red;
   
}
